h1, h3 {
    text-align:center;
    color: purple;
    margin-bottom: 80px;
}

h3 {
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}

.news p {
    background-color:#CCCCCC;
    margin-top:0px;
}

.news {
    width:50%;
    margin:auto;
}

.connexion {
  text-align: right;
}

a {
    text-decoration: none;
    color: blue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }

th, td {
    padding: 2px 5px 2px 10px;
  }

.form-control {
    display: inline-block;
}

form {
    padding-left: 30px;
}

/* Voici les règles de mise en forme pour les champs invalides */
input.invalid{
    border-color: #900;
    background-color: #FDD;
  }
  
  input:focus.invalid {
    outline: none;
  }
  
  /* Voici les règles utilisées pour les messages d'erreur */
  .error {
    width  : 100%;
    padding: 0;
   
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .error.active {
    padding: 0.3em;
  }